* {
    font-family: sans-serif;
}

button {
    background-color: rgb(242, 242, 115);
    color: rgb(106, 91, 59);
    border: none;
    border-right: 2px solid aqua;
    border-bottom: 2px solid aqua;
    padding: 10px 20px;
    font-weight: bold;
}

h1 {
    width: 50%;
    color:rgb(226, 43, 134)
}

body{
    color: rgb(226, 80, 128)
}